:root {
  --text: white;
  --textButton: white;
  --basicButton: rgb(43, 43, 43);
  --confirmButton: rgb(36, 128, 36);
  --deleteButton: rgb(172, 21, 21);
}

.main-app {
  text-align: left;
}

.container {
  width: 60%;
  margin: auto;
}

.cta-button {
  border-radius: 0.5em;
  padding: 0.9em;
  border: none;
  min-width: 13em;
  color: var(--textButton);
  font-size: 1.1em;
  cursor: pointer;
  margin: 0.2em;
  margin-left: 0;
  font-family: "Poppins", sans-serif;
  transition: transform 0.3s;
}

form > .cta-button {
  margin-top: 0.5em;
}

.cta-button:hover {
  transform: scale(0.97);
}

.delete-button {
  background: var(--deleteButton);
}

.confirm-refund-button {
  background: var(--confirmButton);
}

.basic-button {
  background-color: var(--basicButton);
}

#logo{
  width: 50%;
}

#qrcode {
  height: 140px;
  width: 140px;
  margin: auto;
}

#qrcode-container {
  min-width: 33%;
  margin: 0;
  margin-top: 0.5em;
  padding: 1em;
  background-color: var(--basicButton);
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 1em;
}

#qrcode-container > h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

input[type="text" i] {
  background-color: rgb(34, 34, 34);
  border: none;
  margin-left: 1em;
  padding: 0.3em 0.9em;
  width: 1.5%;
}

input[type="text" i]:hover {
  background-color: rgb(39, 39, 39);
}

h1 {
  font-size: 1.3em;
  font-weight: bold;
}

h2 {
  margin-bottom: 0.3em;
  font-weight: bold;
}

p {
  margin: 0;
}

.page-title {
  font-size: 3em;
  margin: 1em 0;
}

button:focus {
  outline: none;
}

.box.top {
  min-width: fit-content;
  padding-top: 0;
  padding-bottom: 1em;
}

#connectWallet {
  text-align: center;
  font-size: 1.3em;
  margin-top: 15em;
}

th, td {
  border: 2px solid hsla(0, 0%, 74%, 0.089);
  text-align: left;
  padding: 0.7em 1em;
}

th {
  background-color: rgb(48 48 48 / 36%); 
}

.orderTable {
  width: 100%;
}

nav .container {
  margin: 0;
}

nav.navbar.navbar-dark {
  background-color: var(--basicButton);
  padding-left: 12em;
  padding-right: 12em;
}

.navbar-dark .navbar-brand {
  color: var(--text);
  font-size: 1.5em;
  padding-right: 1em;;
  margin-right: 0;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-dark .navbar-brand:hover {
  color: #999999;
}

nav > div.nav-item > p {
  margin-bottom: 0;
}

.nav-link {
  color: var(--text);
  transition: color 0.3s;
}

.nav-link:hover {
  color: #999999;
}

.user-data {
  padding: 0.3em 0;
  margin-left: auto;
}

.tokenLogoMin {
  width: 1em;
  height: 1em;
  margin-left: 0.3em;
  margin-bottom: 0.1em;
}

.navbar-expand {
  justify-content: center;
}

.register-seller {
  text-align: center;
  margin-top: 8em;
  font-size: 1.5em;
}

.register-seller h2 {
  font-size: 1.5em;
}

.register-button {
  margin-top: 1em;
}

form > .getQRCode {
  padding: 0;
  margin: 0;
  min-width: 0;
}

.tableLabel {
  display: flex;
  align-items: center;
}

.TVL {
  margin-right: auto;
  margin-bottom: 0.2em;
}

select {
  border: none;
  margin-left: 1em;
  padding: 0.3em 0.9em;
  min-width: 4em;
}

select:hover {
  background-color: rgb(39, 39, 39);
}

.content-and-qrcode {
  display: flex;
    flex-direction: row;
}

.button-label-select {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.button-label-select > label {
  margin-bottom: 0;
  min-width: 11.5em;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgba(21, 21, 21, 0.67);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--basicButton);    /* color of the scroll thumb */
}

.blur {
  backdrop-filter: blur(15px) saturate(200%) !important;
  -webkit-backdrop-filter: blur(15px) saturate(200%) !important;
  background-color: rgb(7 6 8 / 67%) !important;
}

.spinner {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: transparent;
}

.spinner span {
  font-size: 1rem;
  /* animation: fade 1s linear 0s infinite; */
  padding-right: 1rem;
}

.half-spinner {
  width: 1.5em;
  height: 1.5em;
  border: 3px solid #fc0356;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 0.5s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.material-icons {
  float: right;
}

/*order-page*/
.orderContainer{
  margin: 10% 20% 10% 20%;
}

.order-button-cell{
  text-align: center;
  vertical-align: middle;
  min-width: 8em;
}

.order-button{
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
  transition: all 0.2s;
}

.order-button:hover{
  background-color: #272727;
  color: white;
  text-decoration: none;
}

.landing-title {
  font-size: 2em;
  margin: 2em;
  text-align: center;
}

.user-data-landing {
  padding: 0.3em 0;
  margin-left: auto;
  display: grid;
  grid-template-columns: auto auto;
}

.user-data-landing {
  text-align: center;
  font-size: 1.5em;
}

.total-price {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  text-align: center;
  font-size: 1.25em;
}

.blur-light {
  background-color: #ffffff2b;
}

.disabled-button {
  background-color: #ffffff0a;
  color: #ffffff2b;
}

.disabled-button:hover {
  transform: scale(1);
  cursor: unset;
}

.disabled-button:focus {
  outline: none;
}

.approved-button {
  background-color: #ff599721;
}

.create-tx {
  text-align: center;
  min-width: -webkit-fill-available;
  margin: auto;
  font-size: 1.1em;
  padding: 3em;
  border-radius: 1.5em;
}

.create-tx button {
  margin-top: 3em;
}

#selectToken {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25em;
}

#selectToken .select-button {
  margin: 0;
  min-width: 5em;
  margin-bottom: 0.1em;
  margin-top: 0.1em;
  padding: 0.6em 0.9em;
  display: flex;
  align-items: center;
  transition: color 0.1s;
}

#selectToken .select-button:hover {
  transform: scale(1);
  color: rgb(168, 168, 168);
}

.button-and-balance {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.select-button img {
  border-radius: 100%;
}

.cta-button .tokenLogoMin {
  margin-bottom: 0;
}

.MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper {
  background-color: black;
  border-radius: 2em;
}

.cta-button span.material-icons {
  margin-left: 0.3em;
}

.transaction-hash {
  margin-top: 3em;
  text-align: center;
  font-size: 1.25em;
  min-height: 10em;;
}

.transaction-hash p {
  margin-bottom: 1.5em;
}

.transaction-hash a {
  text-decoration: none;
  transition: transform 0.3s;
}

.transaction-hash a:hover {
  transform: scale(1.3);
  color: white;
}

.dialogTitle {
  font-family: inherit !important;
  font-size: 1.4em !important;
  padding: 1.5em 3em !important;
}

.ul-tokens {
  list-style: none;
  padding: 0 2em;
  font-size: 1.25em;
  margin-bottom: 1.5em;
}

.li-tokens {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.3em;
}

.li-tokens:hover {
  background-color: rgba(255, 255, 255, 0.144);
}

.li-img-token {
  margin-right: 0.5em;
  border-radius: 100%;
}

.token-balance {
  font-size: 0.7em;
}

.tx-message {
  margin-top: 3em;
  text-align: center;
}

.error {
  color: rgb(209, 56, 18);
  font-weight: bold;
  margin: 1em;
}

#paginator-buttons{
  display: flex;
  justify-content: space-around;
}

#imgLogo{
  padding: 0 1em;
  width: 5.5em;
}

#order-page-container{
  width: -webkit-fill-available;
  margin-top: 2em;
  align-self: center;
}
#order-page-container .actions{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#order-page-container th{
  width: 12em;
  font-weight: bold;
  font-size: 1.5em;
}
#order-page-container td{
  font-size: 1.25em;
  
}

#order-page-container .button-label-select{
  height: 100%;
}

#order-page-container .actions button{
  background-color: rgba(29, 29, 29, 0.67) !important;
  font-size: 1.25em;
  margin: 0 0.25em;
  padding: 0.25em;
  min-width: 10em;
}
#order-page-container .actions-buyer{
  width: 100%;
  margin-top:0.5em;
  margin-right: 0.25em;
}
#order-page-container .actions-buyer button{
  width: 100%;
  text-decoration: underline;
  font-size: 1.5em;
}
#orderPageAddress{
  font-size: 1.5em;
  margin-bottom: 0.25em;
  padding: 1em;
}

.order-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.order-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  padding: 2em;
  font-size: 1.5em;
  margin-bottom: 0;
  background-color: rgb(7 6 8 / 67%);
  border-radius: 0.5em;
  height: 1em;
  white-space: nowrap;
}

.order-container :nth-child(2){
  margin: 0 0.25em;
}
.order-container
.address {
  font-size: 0.75em !important;
}

#filters-and-labels {
  display: flex;
}

#FilterStateDiv {
  margin-left: 1.5em;
}

input#FilterAddress{
  width: 20em;
  background-color: rgb(7 6 8 / 67%);
  padding: 0.5em;
  border-radius: 0.5em;
  margin-left:0.3em;
}
#FilterAddressLabel{
  padding-right: 0;
}
label.FilterLabel{
  font-size: 1.25em;
  min-width: 0;
  margin-right: 0.25em;
}
div#buyerAddressFilter{
  display: block;
}
p.errorP{
  color: #ff2543;
  padding-left: 7em;
}
#FilterState{
  background-color: rgb(7 6 8 / 67%);
  padding: 0.5em;
  border-radius: 0.5em;
  margin-left:0.3em;
}
#filters{
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
}
#filterButtons{
  display: flex;
  justify-content: flex-start;
}
#filterButtons button {
  padding: 0.5em 1.5em;
  min-width: 0;
}

.orderPage{
  display: flex;
  flex-direction: column;
}

.logTable{
  align-self:center;
  margin: 2em 0;
  width: -webkit-fill-available;
}

.logTable td[aria-label="State"]{
  width: 18em;
}

.logTable td[aria-label="Timestamp"]{
  font-family: "DM Mono", monospace;
}